@{
    this.ViewData["Title"] = "About";
}

<section id="story" class="description_content">
    <div class="text-content container">
        <div class="row">
            <div class="col-md-6">
                <h1>About us</h1>
                <div class="fa fa-cutlery fa-2x"></div>
                <p class="desc-text mt-5">
                    <b>"Around the world"</b> is one of the web's largest and most active travel communities with members representing every country in the world.
                    <br/>
                    <br/>
                    More than 30,000 posts have shared many stories to date and over 1.4 million photos have been posted. Our forums and travel helpers answer numerous travel-related questions 365 days of the year. We also have over 50,000 accommodation booking options available on the site.
                    <br/>
                    <br/>
                    If you're thinking about travelling soon or ready to plan your trip - this forum is where your journey begins.
                </p>
            </div>
            <div class="col-md-6">
                <div class="img-section">
                    <img src="~/images/about1.jpg" width="250" height="220">
                    <img src="~/images/about2.jpg" width="250" height="220">
                    <div class="img-section-space"></div>
                    <img src="~/images/about3.jpg" width="250" height="220">
                    <img src="~/images/about4.jpg" width="250" height="220">
                </div>
            </div>
        </div>
    </div>
</section>