@{
	ViewData["Title"] = "About";
}

<html lang="en">
<body>
	<section class="hero-section set-bg" data-setbg="/img/hero-1.jpg" style="background-image: url(&quot;/img/hero-2.jpg&quot;);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="hs-item">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="hs-text">
										<h1 class="text-warning mb-3">Play To Win</h1>
										<h2 class="text-warning">Thank you for taking the time to view our work!</h2>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
<style>
	h4, h2 {
		font-family: serif
	}




	.winner-img {
		max-width: 50%
	}
</style>
