@model EditPlayerViewModel
@inject IAuthManager authManager
@inject ICountriesService countryService
@inject ISportClubsService sportClubService
@inject IPhotoService photoService

@{
    var countries = new SelectList(this.countryService.GetAll(), "Name", "Name");
    var sportClubs = new SelectList(this.sportClubService.GetAll(), "Name", "Name");

}
<h2 style="text-align:center" class="mt-3 text-white">Edit player</h2>
<form asp-controller="Players" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="container-xl text-white px-4 mt-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                            <img class="img-account-profile mb-2" id="imgId" style="width: 150px;" src=@this.photoService.GetPhotoUrl(this.Model.Id) alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-white mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        @*<button class="btn btn-primary" type="button">Upload new image</button>*@
                        <div class="container">
                            <div class="form-group">
                                <label asp-for="NewProfileImage" class="control-label">Upload new image</label>
                                <br />
                                <div class="custom-file">
                                    <input asp-for="NewProfileImage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" style="text-align:center" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="NewProfileImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">

                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="mb-1" asp-for="FullName">Full Name</label>
                            <input class="form-control" id="inputFullName" asp-for="FullName" type="text" placeholder="Enter the player's full name" value=@this.Model.FullName>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (role)-->
                            <div class="col-md-6">
                                <label asp-for="Country" class="mb-1">Country</label>
                                <br />
                                <select asp-items="@countries" asp-for="Country" class="form-control" id="selectCountry" placeholder="Select country" value=@this.Model.Country>
                                    <option value=@null>Choose...</option>
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <!-- Form Group (block status)-->
                            <div class="col-md-6">
                                <label asp-for="SportClub" class="mb-1">Sport Club</label>
                                <br />
                                <select  asp-items="@sportClubs" asp-for="SportClub" class="form-control" id="selectSportClub" placeholder="Select sport club" value=@this.Model.SportClub>
                                    <option value=@null>Choose...</option>
                                </select>
                                <span asp-validation-for="SportClub" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (role)-->
                            <div class="col-md-6">
                                <label asp-for="NewCountry" class="mb-1">Add new country</label>
                                <input onkeyup="countrySelect()" asp-for="NewCountry" class="form-control" id="inputCountry" type="text" placeholder="Add new country">
                                <span asp-validation-for="NewCountry" class="text-danger"></span>
                            </div>
                            <!-- Form Group (block status)-->
                            <div class="col-md-6">
                                <label asp-for="NewSportClub" class="mb-1">Add new sport club</label>
                                <input onkeyup="sportClubSelect()" asp-for="NewSportClub" class="form-control" id="inputSportClub" type="text" placeholder="Add new sport club">
                                <span asp-validation-for="NewSportClub" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        @*<button class="btn btn-primary" type="button">Save changes</button>*@
                        <input type="submit" name="savesubmit" value="Update player" class="btn btn-block btn-outline-warning">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    customFile.onchange = evt => {
  const [file] = customFile.files
  if (file) {
    imgId.src = URL.createObjectURL(file)
  }
}
</script>
<script type="text/javascript">
    window.onload = countrySelect();
    window.onload = sportClubSelect();

    function countrySelect(){
             var selectCountryValue = document.getElementById("selectCountry");
             var inputCountry = document.getElementById("inputCountry");
         if(inputCountry.value !== ""){
             selectCountryValue.disabled = true;
         }
         else{
             selectCountryValue.disabled = false;
         }
     }

     function sportClubSelect(){
             var selectSportClubValue = document.getElementById("selectSportClub");
             var inputSportClub = document.getElementById("inputSportClub");
         if(inputSportClub.value !== ""){
             selectSportClubValue.disabled = true;
         }
         else{
             selectSportClubValue.disabled = false;
         }
     }

</script>
<style>
    .card{
        background-color:#6c757d5e;
    }
</style>