*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 80vh;
    position: relative;
    top: 0;
}

#slideImg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.content{
    color: #fff;
    position: relative;
    bottom: 8%;
}
.content p{
    font-size: 50px;
    font-weight: 600;
}
.content h1{
    position: absolute;
    font-size: 190px;
    color: #fff;
    transform: translate(-50%, -50%);
    line-height: 160px;
    margin-left: 650px;
    margin-top: -100px;
}
.content h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.content h1:nth-child(2){
    color: #fff;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        clip-path: polygon(43% 47%, 57% 55%, 69% 64%, 78% 68%, 91% 63%, 96% 58%, 100% 49%, 100% 100%, 0% 100%, 0 52%, 21% 44%);
    }
    50%{
        clip-path: polygon(27% 81%, 45% 73%, 63% 57%, 74% 57%, 83% 58%, 91% 49%, 100% 42%, 100% 100%, 0% 100%, 0 52%, 14% 74%);
    }
}

#sub-title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-top: 500px;
    margin-left: 170px;
    margin-right: 50px;
}

